/* Game board styles */
#game-board {
  border: 2px solid black;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.row {
  clear: both;
}

.square {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
}

/* Player piece styles */
.player-piece {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

/* Snake and ladder styles */
.snake-head, .snake-tail {
  background-color: red;
  height: 5px;
  width: 30px;
  position: absolute;
  z-index: 2;
}

.snake-head {
  border-radius: 50% 50% 0 0;
}

.snake-tail {
  border-radius: 0 0 50% 50%;
}

.ladder-start, .ladder-end {
  background-color: blue;
  height: 30px;
  width: 5px;
  position: absolute;
  z-index: 2;
}

.ladder-start {
  border-radius: 50% 0 0 50%;
}

.ladder-end {
  border-radius: 0 50% 50% 0;
}
